In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Import All Colony Data

In [2]:
csv_path = "Data/Colony_Data/hcny_2017_1.csv"
colony_2017_1_df = pd.read_csv(csv_path)
colony_2017_1_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,1600,23,570.0,730.0,10.0
1,Arizona,31000,32000.0,6000,19,2900.0,NaN,NaN
2,Arkansas,18000,20000.0,3500,18,430.0,190.0,1.0
3,California,1150000,1440000.0,172000,12,215000.0,92000.0,6.0
4,Colorado,9500,21000.0,1100,5,100.0,NaN,NaN

In [3]:
# colony_2017_1_df.dtypes

In [4]:
csv_path = "Data/Colony_Data/hcny_2017_2.csv"
colony_2017_2_df = pd.read_csv(csv_path)
colony_2017_2_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,6500,6500.0,440,7,1200,500,8
1,Arizona,22000,22000.0,2600,12,12500,3000,14
2,Arkansas,17000,17000.0,1900,11,5000,1300,8
3,California,1140000,1180000.0,82000,7,210000,235000,20
4,Colorado,16500,29000.0,3500,12,5500,7500,26

In [5]:
csv_path = "Data/Colony_Data/hcny_2017_3.csv"
colony_2017_3_df = pd.read_csv(csv_path)
colony_2017_3_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,9500.0,900,9,690,530,6.0
1,Arizona,26000,26000.0,4100,16,5000,3200,12.0
2,Arkansas,29000,29000.0,6000,21,4400,410,1.0
3,California,590000,670000.0,67000,10,73000,74000,11.0
4,Colorado,35000,42000.0,4300,10,2900,6410,15.0

In [6]:
csv_path = "Data/Colony_Data/hcny_2017_4.csv"
colony_2017_4_df = pd.read_csv(csv_path)
colony_2017_4_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,990,13.0,550.0,500.0,7.0
1,Arizona,27000,30000.0,6500,22.0,1300.0,1100.0,4.0
2,Arkansas,25000,25000.0,7500,30.0,2500.0,440.0,2.0
3,California,680000,1200000.0,155000,13.0,90000.0,104000.0,9.0
4,Colorado,34000,34000.0,7000,21.0,1500.0,4000.0,12.0

## Merge ALL Colony DataFrames and Calculate Sum

In [7]:
sum_2017_df = pd.concat((colony_2017_1_df, colony_2017_2_df, colony_2017_3_df, colony_2017_4_df))
sum_2017_df

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,1600,23.0,570.0,730.0,10.0
1,Arizona,31000,32000.0,6000,19.0,2900.0,NaN,NaN
2,Arkansas,18000,20000.0,3500,18.0,430.0,190.0,1.0
3,California,1150000,1440000.0,172000,12.0,215000.0,92000.0,6.0
4,Colorado,9500,21000.0,1100,5.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...
42,West Virginia,8500,8500.0,1200,14.0,70.0,1600.0,19.0
43,Wisconsin,51000,55000.0,8500,15.0,530.0,3000.0,5.0
44,Wyoming,28000,29000.0,3500,12.0,2500.0,320.0,1.0
45,Other States 5/,6070,6970.0,360,5.0,150.0,240.0,3.0
46,United States,2849770,NaN,424860,15.0,204510.0,213990.0,8.0

In [8]:
colony_2017_df = sum_2017_df.groupby("State").sum()
colony_2017_df.head()

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
State,,,,,,,
Alabama,28000,30500.0,3930,52.0,3010.0,2260.0,31.0
Arizona,106000,110000.0,19200,69.0,21700.0,7300.0,30.0
Arkansas,89000,91000.0,18900,80.0,12330.0,2340.0,12.0
California,3560000,4490000.0,476000,42.0,588000.0,505000.0,46.0
Colorado,95000,126000.0,15900,48.0,10000.0,17910.0,53.0

In [9]:
# Remove Percent_Lost and Percent_Renovated Columns
colony_2017_df = colony_2017_df[['Colony_Number', 'Max_Colony_Number', 'Lost_Colony_Number',
                                 'Added_Colony_Number', 'Renovated_Colony_Number']]
colony_2017_df

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
State,,,,,
Alabama,28000,30500.0,3930,3010.0,2260.0
Arizona,106000,110000.0,19200,21700.0,7300.0
Arkansas,89000,91000.0,18900,12330.0,2340.0
California,3560000,4490000.0,476000,588000.0,505000.0
Colorado,95000,126000.0,15900,10000.0,17910.0
Connecticut,13600,13600.0,980,2540.0,590.0
Florida,861000,935000.0,144000,214000.0,161000.0
Georgia,494000,534000.0,61000,80300.0,79200.0
Hawaii,55000,55000.0,1480,2430.0,1270.0
Idaho,358000,457000.0,39000,45000.0,52780.0
Illinois,49500,50000.0,7000,7550.0,3410.0
Indiana,39000,43000.0,5730,5440.0,1420.0
Iowa,107500,126500.0,13700,26420.0,11300.0
Kansas,21700,22200.0,3910,4970.0,2310.0
Kentucky,29500,30500.0,4330,4350.0,1850.0
Louisiana,222000,227000.0,21500,30490.0,46800.0
Maine,15900,55100.0,2370,1320.0,1800.0
Maryland,33500,37500.0,5190,5290.0,2200.0
Massachusetts,20200,26300.0,3490,2930.0,1610.0
Michigan,275000,335000.0,38600,27890.0,25030.0
Minnesota,295000,403000.0,35500,25600.0,11650.0
Mississippi,158000,203000.0,12700,29030.0,50560.0
Missouri,32000,33500.0,2860,2520.0,1550.0
Montana,333500,462000.0,35770,26700.0,51900.0
Nebraska,104000,165000.0,12590,7080.0,52550.0
New Jersey,43500,59000.0,2540,2220.0,1040.0
New Mexico,29000,29500.0,8200,9400.0,4100.0
New York,167000,184000.0,17700,20440.0,16960.0
North Carolina,89000,98000.0,12400,11760.0,7090.0
North Dakota,1042000,1408000.0,85140,54600.0,139910.0
Ohio,70500,73500.0,10100,10910.0,5790.0
Oklahoma,59100,101400.0,1360,16120.0,3470.0
Oregon,343000,393000.0,36500,33070.0,71900.0
Other States 5/,25890,30500.0,3120,1530.0,1780.0
Pennsylvania,74500,77000.0,11710,16310.0,5310.0
South Carolina,64000,67000.0,6170,8540.0,5860.0
South Dakota,318000,470000.0,31700,17500.0,27940.0
Tennessee,35500,38000.0,5700,5130.0,2740.0
Texas,846000,1075000.0,88000,215200.0,225400.0
United States,11345890,0.0,1407200,1728590.0,1709290.0
Utah,99000,117500.0,13500,23380.0,13830.0
Vermont,26500,28500.0,1260,920.0,470.0
Virginia,37500,38000.0,4700,5730.0,2020.0
Washington,305000,400000.0,36500,52900.0,45500.0
West Virginia,30500,33000.0,3270,4360.0,6100.0
Wisconsin,160000,217000.0,28300,19980.0,18570.0
Wyoming,84500,112000.0,13700,11700.0,7920.0

## Import All Bee Stressor Data

In [10]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2017_1.csv"
stressor_2017_1_df = pd.read_csv(csv_path)
stressor_2017_1_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,15.3,10.9,0.2,3.6,7.5,10.4
1,Arizona,35.6,2.1,3.8,1.7,6.5,2.1
2,Arkansas,23.7,13.8,NaN,0.3,3.6,0.6
3,California,38.0,12.8,7.6,9.2,6.6,6.3
4,Colorado,17.0,NaN,NaN,0.9,2.6,0.4

In [11]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2017_2.csv"
stressor_2017_2_df = pd.read_csv(csv_path)
stressor_2017_2_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,17.9,13.6,NaN,4.2,9.4,5.3
1,Arizona,57.8,15.6,19.4,12.2,20.1,0.7
2,Arkansas,24.5,12.2,2.4,4.9,3.4,3.1
3,California,36.1,7.5,2.9,12.4,4.7,3.0
4,Colorado,31.6,0.9,5.3,3.2,4.7,0.1

In [12]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2017_3.csv"
stressor_2017_3_df = pd.read_csv(csv_path)
stressor_2017_3_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,69.5,22.1,NaN,35.4,7.5,3.9
1,Arizona,19.8,0.4,0.5,1.1,12.4,6.3
2,Arkansas,61.4,9.1,NaN,17.0,9.3,2.3
3,California,42.3,15.8,5.6,13.4,10.1,3.6
4,Colorado,52.9,1.4,2.6,9.1,7.8,1.4

In [13]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2017_4.csv"
stressor_2017_4_df = pd.read_csv(csv_path)
stressor_2017_4_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,22.3,10.1,8.8,9.5,1.7,5.2
1,Arizona,61.6,4.2,2.3,1.6,4.1,0.1
2,Arkansas,37.5,29.2,26.6,31.0,24.1,0.4
3,California,47.9,14.1,7.4,17.0,17.1,6.3
4,Colorado,30.2,0.7,0.2,20.0,15.5,5.3

## Merge ALL Stressor DataFrames and Calculate Mean

In [14]:
stressor_all_df = pd.concat((stressor_2017_1_df, stressor_2017_2_df, stressor_2017_3_df, stressor_2017_4_df))
stressor_all_df

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,15.3,10.9,0.2,3.6,7.5,10.4
1,Arizona,35.6,2.1,3.8,1.7,6.5,2.1
2,Arkansas,23.7,13.8,NaN,0.3,3.6,0.6
3,California,38.0,12.8,7.6,9.2,6.6,6.3
4,Colorado,17.0,NaN,NaN,0.9,2.6,0.4
...,...,...,...,...,...,...,...
42,West Virginia,60.1,5.3,2.4,0.1,7.8,3.6
43,Wisconsin,53.1,36.9,33.1,22.8,15.3,15.2
44,Wyoming,38.0,2.4,8.4,5.9,8.1,0.6
45,Other States 4/,11.5,1.7,3.0,2.2,1.0,2.4
46,United States,55.3,18.9,9.4,15.0,11.1,7.6

In [15]:
stressor_2017_df = stressor_all_df.groupby("State").mean()
stressor_2017_df.head()

,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
State,,,,,,
Alabama,31.250,14.175,4.500,13.175,6.525,6.2
Arizona,43.700,5.575,6.500,4.150,10.775,2.3
Arkansas,36.775,16.075,14.500,13.300,10.100,1.6
California,41.075,12.550,5.875,13.000,9.625,4.8
Colorado,32.925,1.000,2.700,8.300,7.650,1.8

## Merge ALL DataFrames for 2017

In [16]:
csv_path = "Data/Production_Data/honey_2017.csv"
honey_2017_df = pd.read_csv(csv_path)
honey_2017_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,42.0,294,44,3.20,941,2017
1,Arizona,23,46.0,1058,201,1.97,2084,2017
2,Arkansas,20,55.0,1100,176,1.53,1683,2017
3,California,335,48.0,16080,3216,1.56,25085,2017
4,Colorado,32,46.0,1472,500,2.14,3150,2017

In [17]:
merge_1_df = pd.merge(honey_2017_df, colony_2017_df, on=["State"], how="outer")
merge_1_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
0,Alabama,7.0,42.0,294.0,44.0,3.20,941.0,2017.0,28000.0,30500.0,3930.0,3010.0,2260.0
1,Arizona,23.0,46.0,1058.0,201.0,1.97,2084.0,2017.0,106000.0,110000.0,19200.0,21700.0,7300.0
2,Arkansas,20.0,55.0,1100.0,176.0,1.53,1683.0,2017.0,89000.0,91000.0,18900.0,12330.0,2340.0
3,California,335.0,48.0,16080.0,3216.0,1.56,25085.0,2017.0,3560000.0,4490000.0,476000.0,588000.0,505000.0
4,Colorado,32.0,46.0,1472.0,500.0,2.14,3150.0,2017.0,95000.0,126000.0,15900.0,10000.0,17910.0

In [18]:
data_2017_df = pd.merge(merge_1_df, stressor_2017_df, on=["State"], how="outer")
data_2017_df

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,7.0,42.0,294.0,44.0,3.20,941.0,2017.0,28000.0,30500.0,3930.0,3010.0,2260.0,31.250,14.175000,4.500000,13.175000,6.525000,6.200000
1,Arizona,23.0,46.0,1058.0,201.0,1.97,2084.0,2017.0,106000.0,110000.0,19200.0,21700.0,7300.0,43.700,5.575000,6.500000,4.150000,10.775000,2.300000
2,Arkansas,20.0,55.0,1100.0,176.0,1.53,1683.0,2017.0,89000.0,91000.0,18900.0,12330.0,2340.0,36.775,16.075000,14.500000,13.300000,10.100000,1.600000
3,California,335.0,48.0,16080.0,3216.0,1.56,25085.0,2017.0,3560000.0,4490000.0,476000.0,588000.0,505000.0,41.075,12.550000,5.875000,13.000000,9.625000,4.800000
4,Colorado,32.0,46.0,1472.0,500.0,2.14,3150.0,2017.0,95000.0,126000.0,15900.0,10000.0,17910.0,32.925,1.000000,2.700000,8.300000,7.650000,1.800000
5,Florida,205.0,45.0,9225.0,830.0,2.48,22878.0,2017.0,861000.0,935000.0,144000.0,214000.0,161000.0,39.550,14.775000,4.700000,9.975000,7.900000,21.050000
6,Georgia,102.0,33.0,3366.0,370.0,2.61,8785.0,2017.0,494000.0,534000.0,61000.0,80300.0,79200.0,43.175,11.425000,3.950000,9.675000,7.350000,4.025000
7,Hawaii,16.0,80.0,1280.0,51.0,1.28,1638.0,2017.0,55000.0,55000.0,1480.0,2430.0,1270.0,37.675,19.000000,0.200000,NaN,0.650000,0.100000
8,Idaho,92.0,32.0,2944.0,677.0,1.67,4916.0,2017.0,358000.0,457000.0,39000.0,45000.0,52780.0,48.275,21.425000,17.650000,14.950000,5.150000,2.600000
9,Illinois,11.0,39.0,429.0,116.0,4.31,1849.0,2017.0,49500.0,50000.0,7000.0,7550.0,3410.0,23.525,10.100000,1.225000,4.450000,6.300000,4.375000
10,Indiana,9.0,55.0,495.0,198.0,3.95,1955.0,2017.0,39000.0,43000.0,5730.0,5440.0,1420.0,14.775,5.450000,1.850000,10.200000,6.675000,4.600000
11,Iowa,38.0,55.0,2090.0,1170.0,2.24,4682.0,2017.0,107500.0,126500.0,13700.0,26420.0,11300.0,37.800,17.175000,7.675000,18.800000,10.500000,5.075000
12,Kansas,7.0,79.0,553.0,171.0,2.95,1631.0,2017.0,21700.0,22200.0,3910.0,4970.0,2310.0,37.525,18.200000,6.266667,13.675000,4.975000,9.925000
13,Kentucky,6.0,41.0,246.0,44.0,4.50,1107.0,2017.0,29500.0,30500.0,4330.0,4350.0,1850.0,40.275,22.000000,1.650000,3.975000,9.175000,8.725000
14,Louisiana,54.0,72.0,3888.0,428.0,2.04,7932.0,2017.0,222000.0,227000.0,21500.0,30490.0,46800.0,34.350,28.275000,0.233333,1.625000,3.225000,7.075000
15,Maine,15.0,35.0,525.0,110.0,2.92,1533.0,2017.0,15900.0,55100.0,2370.0,1320.0,1800.0,13.950,7.900000,8.800000,5.200000,7.425000,7.150000
16,Michigan,94.0,50.0,4700.0,1363.0,2.36,11092.0,2017.0,275000.0,335000.0,38600.0,27890.0,25030.0,35.725,8.900000,4.700000,10.225000,4.650000,2.350000
17,Minnesota,118.0,59.0,6962.0,3063.0,1.63,11348.0,2017.0,295000.0,403000.0,35500.0,25600.0,11650.0,31.550,3.450000,2.125000,15.875000,8.550000,3.350000
18,Mississippi,22.0,80.0,1760.0,141.0,1.85,3256.0,2017.0,158000.0,203000.0,12700.0,29030.0,50560.0,36.625,11.700000,1.050000,0.775000,5.750000,1.675000
19,Missouri,10.0,43.0,430.0,73.0,3.32,1428.0,2017.0,32000.0,33500.0,2860.0,2520.0,1550.0,31.100,18.525000,1.825000,9.425000,4.075000,10.925000
20,Montana,173.0,86.0,14878.0,5802.0,1.48,22019.0,2017.0,333500.0,462000.0,35770.0,26700.0,51900.0,38.700,7.050000,4.733333,3.425000,8.600000,1.700000
21,Nebraska,39.0,52.0,2028.0,223.0,1.46,2961.0,2017.0,104000.0,165000.0,12590.0,7080.0,52550.0,32.600,19.350000,1.400000,25.266667,6.150000,3.350000
22,New Jersey,15.0,28.0,420.0,155.0,3.33,1399.0,2017.0,43500.0,59000.0,2540.0,2220.0,1040.0,17.500,3.950000,2.333333,1.800000,1.200000,1.066667
23,New York,59.0,58.0,3422.0,1027.0,4.49,15365.0,2017.0,167000.0,184000.0,17700.0,20440.0,16960.0,27.375,11.025000,6.550000,5.325000,9.075000,3.850000
24,North Carolina,14.0,42.0,588.0,118.0,4.06,2387.0,2017.0,89000.0,98000.0,12400.0,11760.0,7090.0,49.200,18.825000,2.425000,6.025000,7.900000,3.475000
25,North Dakota,520.0,65.0,33800.0,6422.0,1.40,47320.0,2017.0,1042000.0,1408000.0,85140.0,54600.0,139910.0,28.100,10.666667,2.133333,4.666667,3.050000,0.675000
26,Ohio,15.0,67.0,1005.0,442.0,3.42,3437.0,2017.0,70500.0,73500.0,10100.0,10910.0,5790.0,42.050,15.100000,4.650000,5.925000,10.525000,7.350000
27,Oregon,87.0,32.0,2784.0,1141.0,2.07,5763.0,2017.0,343000.0,393000.0,36500.0,33070.0,71900.0,41.600,12.850000,14.900000,10.025000,10.125000,5.425000
28,Pennsylvania,19.0,50.0,950.0,409.0,4.24,4028.0,2017.0,74500.0,77000.0,11710.0,16310.0,5310.0,30.250,3.625000,1.325000,3.725000,2.775000,3.025000
29,South Carolina,16.0,47.0,752.0,45.0,5.01,3768.0,2017.0,64000.0,67000.0,6170.0,8540.0,5860.0,23.625,14.450000,7.475000,5.550000,3.475000,1.200000
30,South Dakota,270.0,72.0,19440.0,7582.0,1.53,29743.0,2017.0,318000.0,470000.0,31700.0,17500.0,27940.0,22.125,4.966667,3.466667,8.066667,10.225000,2.275000
31,Tennessee,8.0,57.0,456.0,91.0,4.65,2120.0,2017.0,35500.0,38000.0,5700.0,5130.0,2740.0,35.400,19.625000,1.050000,3.375000,7.825000,8.275000
32,Texas,126.0,60.0,7560.0,1814.0,2.30,17388.0,2017.0,846000.0,1075000.0,88000.0,215200.0,225400.0,33.150,20.875000,2.675000,11.125000,7.125000,2.850000
33,Utah,22.0,29.0,638.0,89.0,2.06,1314.0,2017.0,99000.0,117500.0,13500.0,23380.0,13830.0,33.925,3.366667,2.950000,8.666667,9.550000,9.733333
34,Vermont,6.0,48.0,288.0,84.0,4.34,1250.0,2017.0,26500.0,28500.0,1260.0,920.0,470.0,30.675,13.625000,7.300000,27.700000,3.450000,1.275000
35,Virginia,5.0,39.0,195.0,49.0,7.51,1464.0,2017.0,37500.0,38000.0,4700.0,5730.0,2020.0,28.100,19.750000,1.650000,4.125000,5.150000,4.675000
36,Washington,81.0,35.0,2835.0,1191.0,2.12,6010.0,2017.0,305000.0,400000.0,36500.0,52900.0,45500.0,17.925,3.375000,2.800000,2.733333,3.075000,1.850000
37,West Virginia,6.0,37.0,222.0,47.0,4.50,999.0,2017.0,30500.0,33000.0,3270.0,4360.0,6100.0,27.650,3.500000,1.425000,0.366667,8.200000,2.575000
38,Wisconsin,46.0,47.0,2162.0,692.0,2.99,6464.0,2017.0,160000.0,217000.0,28300.0,19980.0,18570.0,36.850,15.350000,13.600000,12.175000,8.700000,9.525000
39,Wyoming,39.0,56.0,2184.0,306.0,1.35,2948.0,2017.0,84500.0,112000.0,13700.0,11700.0,7920.0,24.450,2.433333,7.375000,4.300000,5.425000,2.633333
40,Other States,30.0,47.0,1418.0,351.0,5.91,8380.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,United States,2812.0,55.8,156922.0,41022.0,1.97,309136.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13600.0,13600.0,980.0,2540.0,590.0,30.675,1.500000,0.100000,0.550000,5.675000,2.633333
43,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33500.0,37500.0,5190.0,5290.0,2200.0,7.825,5.850000,0.650000,0.975000,5.200000,5.550000
44,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200.0,26300.0,3490.0,2930.0,1610.0,35.250,4.775000,5.525000,4.850000,3.300000,1.800000
45,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29000.0,29500.0,8200.0,9400.0,4100.0,85.675,1.400000,59.366667,11.950000,12.675000,0.633333
46,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59100.0,101400.0,1360.0,16120.0,3470.0,14.475,6.525000,10.550000,1.400000,4.266667,0.675000
47,Other States 5/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25890.0,30500.0,3120.0,1530.0,1780.0,NaN,NaN,NaN,NaN,NaN,NaN
48,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11345890.0,0.0,1407200.0,1728590.0,1709290.0,46.150,15.300000,6.400000,11.925000,9.125000,6.075000
49,Other States 4/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.200,1.900000,3.050000,3.833333,2.000000,1.700000

In [19]:
# csv files 
data_2017_df.to_csv('data_2017.csv', index=False, header=True)