In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Import All Colony Data

In [2]:
csv_path = "Data/Colony_Data/hcny_2018_1.csv"
colony_2018_1_df = pd.read_csv(csv_path)
colony_2018_1_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,820,11.0,1200.0,1500.0,20.0
1,Arizona,25000,26000.0,6000,23.0,810.0,230.0,1.0
2,Arkansas,22000,22000.0,7500,34.0,540.0,810.0,4.0
3,California,1150000,1540000.0,220000,14.0,200000.0,132500.0,9.0
4,Colorado,13000,21000.0,4900,23.0,1400.0,190.0,1.0

In [3]:
# colony_2018_1_df.dtypes

In [4]:
csv_path = "Data/Colony_Data/hcny_2018_2.csv"
colony_2018_2_df = pd.read_csv(csv_path)
colony_2018_2_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,8500.0,810,10,1300,710,8
1,Arizona,18500,19500.0,2600,13,12000,2100,11
2,Arkansas,11500,11500.0,1500,13,14000,1900,17
3,California,1140000,1190000.0,70000,6,176000,254000,21
4,Colorado,16500,26000.0,2300,9,9500,4570,18

In [5]:
csv_path = "Data/Colony_Data/hcny_2018_3.csv"
colony_2018_3_df = pd.read_csv(csv_path)
colony_2018_3_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,8500,8500.0,1700,20,1600,1300,15.0
1,Arizona,31000,31000.0,8000,26,3200,3100,10.0
2,Arkansas,29000,29000.0,2300,8,2600,840,3.0
3,California,590000,700000.0,73000,10,63000,141000,20.0
4,Colorado,34000,35000.0,5000,14,1500,5000,14.0

In [6]:
csv_path = "Data/Colony_Data/hcny_2018_4.csv"
colony_2018_4_df = pd.read_csv(csv_path)
colony_2018_4_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,6500,6500.0,830,13,210.0,1300.0,20.0
1,Arizona,26000,27000.0,5000,19,2200.0,330.0,1.0
2,Arkansas,30000,31000.0,6000,19,110.0,230.0,1.0
3,California,680000,1200000.0,170000,14,86000.0,46000.0,4.0
4,Colorado,30000,30000.0,3500,12,370.0,10.0,NaN

## Merge ALL Colony DataFrames and Calculate Sum

In [7]:
sum_2018_df = pd.concat((colony_2018_1_df, colony_2018_2_df, colony_2018_3_df, colony_2018_4_df))
sum_2018_df

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,820,11.0,1200.0,1500.0,20.0
1,Arizona,25000,26000.0,6000,23.0,810.0,230.0,1.0
2,Arkansas,22000,22000.0,7500,34.0,540.0,810.0,4.0
3,California,1150000,1540000.0,220000,14.0,200000.0,132500.0,9.0
4,Colorado,13000,21000.0,4900,23.0,1400.0,190.0,1.0
...,...,...,...,...,...,...,...,...
42,West Virginia,7000,7000.0,1200,17.0,50.0,70.0,1.0
43,Wisconsin,48000,48000.0,8500,18.0,1600.0,530.0,1.0
44,Wyoming,30000,32000.0,2700,8.0,220.0,NaN,NaN
45,Other States 5/,8370,8670.0,1150,13.0,20.0,500.0,6.0
46,United States,2868970,NaN,444730,16.0,219640.0,154560.0,5.0

In [8]:
colony_2018_df = sum_2018_df.groupby("State").sum()
colony_2018_df.head()

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
State,,,,,,,
Alabama,30000,31000.0,4160,54.0,4310.0,4810.0,63.0
Arizona,100500,103500.0,21600,81.0,18210.0,5760.0,23.0
Arkansas,92500,93500.0,17300,74.0,17250.0,3780.0,25.0
California,3560000,4630000.0,533000,44.0,525000.0,573500.0,54.0
Colorado,93500,112000.0,15700,58.0,12770.0,9770.0,33.0

In [9]:
# Remove Percent_Lost and Percent_Renovated Columns
colony_2018_df = colony_2018_df[['Colony_Number', 'Max_Colony_Number', 'Lost_Colony_Number',
                                 'Added_Colony_Number', 'Renovated_Colony_Number']]
colony_2018_df

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
State,,,,,
Alabama,30000,31000.0,4160,4310.0,4810.0
Arizona,100500,103500.0,21600,18210.0,5760.0
Arkansas,92500,93500.0,17300,17250.0,3780.0
California,3560000,4630000.0,533000,525000.0,573500.0
Colorado,93500,112000.0,15700,12770.0,9770.0
Connecticut,13200,13200.0,610,640.0,870.0
Florida,952000,1045000.0,156000,217000.0,167000.0
Georgia,550000,575000.0,77500,96500.0,137000.0
Hawaii,62000,62000.0,4620,4900.0,17200.0
Idaho,405000,523000.0,55800,43500.0,53510.0
Illinois,43500,44000.0,6560,7000.0,4200.0
Indiana,35500,37500.0,7090,4860.0,3160.0
Iowa,163000,170000.0,13400,17750.0,5980.0
Kansas,19100,19100.0,3070,3020.0,2700.0
Kentucky,23800,25500.0,4890,2280.0,1670.0
Louisiana,201000,205000.0,9070,12830.0,6820.0
Maine,28600,43400.0,3630,740.0,1960.0
Maryland,29500,32500.0,2920,3040.0,2160.0
Massachusetts,20300,26200.0,4110,2110.0,1690.0
Michigan,217500,268000.0,28000,35400.0,35700.0
Minnesota,313000,383000.0,50900,63600.0,33990.0
Mississippi,103000,127500.0,11900,32340.0,12700.0
Missouri,35000,35000.0,3210,3630.0,1410.0
Montana,328000,486000.0,28940,33040.0,42500.0
Nebraska,114000,153000.0,14630,18600.0,6540.0
New Jersey,40400,51000.0,2620,1660.0,660.0
New Mexico,23400,26800.0,8150,4320.0,1450.0
New York,154000,171000.0,15300,13000.0,7670.0
North Carolina,68500,70000.0,10300,8850.0,3360.0
North Dakota,1021000,1454000.0,102200,63100.0,62010.0
Ohio,54500,58500.0,8500,10770.0,4930.0
Oklahoma,36800,92600.0,8170,9970.0,6770.0
Oregon,327000,413000.0,33500,53500.0,88900.0
Other States 5/,22840,32840.0,4170,2540.0,1910.0
Pennsylvania,71000,76000.0,7460,10770.0,6070.0
South Carolina,47000,52500.0,6000,5740.0,8690.0
South Dakota,341500,527000.0,55390,31250.0,72020.0
Tennessee,35000,35500.0,7000,4370.0,3140.0
Texas,738000,984000.0,77500,236500.0,120570.0
United States,11151640,0.0,1517070,1721790.0,1579200.0
Utah,79000,100000.0,10120,11640.0,5950.0
Vermont,24500,25500.0,1350,3830.0,240.0
Virginia,26500,27000.0,4300,4020.0,3150.0
Washington,250000,376000.0,34100,38500.0,24760.0
West Virginia,26200,30500.0,4210,2650.0,1880.0
Wisconsin,154000,196000.0,29100,19300.0,12490.0
Wyoming,77000,96000.0,9020,5190.0,6200.0

## Import All Bee Stressor Data

In [10]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2018_1.csv"
stressor_2018_1_df = pd.read_csv(csv_path)
stressor_2018_1_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,29.2,30.2,1.9,14.9,8.6,4.5
1,Arizona,36.3,4.3,4.6,15.3,7.9,4.2
2,Arkansas,21.1,9.6,1.0,23.0,4.6,13.9
3,California,41.4,11.3,4.8,11.5,8.0,4.9
4,Colorado,31.7,0.8,3.8,0.5,13.7,2.4

In [11]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2018_2.csv"
stressor_2018_2_df = pd.read_csv(csv_path)
stressor_2018_2_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,23.6,25.5,1.2,13.1,11.5,2.1
1,Arizona,48.8,7.3,33.2,0.8,14.5,3.7
2,Arkansas,35.5,16.0,0.9,2.8,11.4,16.6
3,California,41.9,10.2,11.2,13.8,9.1,5.1
4,Colorado,42.8,NaN,13.1,3.7,4.3,0.4

In [12]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2018_3.csv"
stressor_2018_3_df = pd.read_csv(csv_path)
stressor_2018_3_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,77.5,69.4,0.7,14.6,7.8,6.8
1,Arizona,52.5,2.3,4.5,3.8,15.0,27.6
2,Arkansas,29.9,7.8,0.1,17.6,0.5,0.6
3,California,57.3,6.6,4.5,17.8,12.0,3.6
4,Colorado,72.6,16.6,5.6,2.9,8.5,4.5

In [13]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2018_4.csv"
stressor_2018_4_df = pd.read_csv(csv_path)
stressor_2018_4_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,20.6,20.5,1.3,1.5,3.4,7.5
1,Arizona,20.6,8.3,3.1,NaN,7.1,3.0
2,Arkansas,82.8,7.1,NaN,73.5,5.3,2.2
3,California,44.1,16.6,9.8,11.6,9.3,7.1
4,Colorado,73.2,5.9,1.0,NaN,6.1,1.2

## Merge ALL Stressor DataFrames and Calculate Mean

In [14]:
stressor_all_df = pd.concat((stressor_2018_1_df, stressor_2018_2_df, stressor_2018_3_df, stressor_2018_4_df))
stressor_all_df

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,29.2,30.2,1.9,14.9,8.6,4.5
1,Arizona,36.3,4.3,4.6,15.3,7.9,4.2
2,Arkansas,21.1,9.6,1.0,23.0,4.6,13.9
3,California,41.4,11.3,4.8,11.5,8.0,4.9
4,Colorado,31.7,0.8,3.8,0.5,13.7,2.4
...,...,...,...,...,...,...,...
42,West Virginia,29.5,15.2,0.6,7.2,4.2,6.8
43,Wisconsin,29.9,28.3,1.5,24.5,7.6,5.2
44,Wyoming,43.9,7.9,2.6,6.8,1.0,1.4
45,Other States 4/,12.7,0.2,0.2,5.4,1.5,5.4
46,United States,50.5,20.3,10.4,13.8,8.4,6.5

In [15]:
stressor_2018_df = stressor_all_df.groupby("State").mean()
stressor_2018_df.head()

,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
State,,,,,,
Alabama,37.725,36.400000,1.275000,11.025000,7.825,5.225
Arizona,39.550,5.550000,11.350000,6.633333,11.125,9.625
Arkansas,42.325,10.125000,0.666667,29.225000,5.450,8.325
California,46.175,11.175000,7.575000,13.675000,9.600,5.175
Colorado,55.075,7.766667,5.875000,2.366667,8.150,2.125

## Merge ALL DataFrames for 2018

In [16]:
csv_path = "Data/Production_Data/honey_2018.csv"
honey_2018_df = pd.read_csv(csv_path)
honey_2018_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,6,45.0,270,14,3.72,1004,2018
1,Arizona,24,38.0,912,109,3.01,2745,2018
2,Arkansas,28,50.0,1400,84,1.88,2632,2018
3,California,335,41.0,13735,3022,2.11,28981,2018
4,Colorado,31,48.0,1488,283,2.05,3050,2018

In [17]:
merge_1_df = pd.merge(honey_2018_df, colony_2018_df, on=["State"], how="outer")
merge_1_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
0,Alabama,6.0,45.0,270.0,14.0,3.72,1004.0,2018.0,30000.0,31000.0,4160.0,4310.0,4810.0
1,Arizona,24.0,38.0,912.0,109.0,3.01,2745.0,2018.0,100500.0,103500.0,21600.0,18210.0,5760.0
2,Arkansas,28.0,50.0,1400.0,84.0,1.88,2632.0,2018.0,92500.0,93500.0,17300.0,17250.0,3780.0
3,California,335.0,41.0,13735.0,3022.0,2.11,28981.0,2018.0,3560000.0,4630000.0,533000.0,525000.0,573500.0
4,Colorado,31.0,48.0,1488.0,283.0,2.05,3050.0,2018.0,93500.0,112000.0,15700.0,12770.0,9770.0

In [18]:
data_2018_df = pd.merge(merge_1_df, stressor_2018_df, on=["State"], how="outer")
data_2018_df

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,6.0,45.0,270.0,14.0,3.72,1004.0,2018.0,30000.0,31000.0,4160.0,4310.0,4810.0,37.725000,36.400000,1.275000,11.025000,7.825,5.225000
1,Arizona,24.0,38.0,912.0,109.0,3.01,2745.0,2018.0,100500.0,103500.0,21600.0,18210.0,5760.0,39.550000,5.550000,11.350000,6.633333,11.125,9.625000
2,Arkansas,28.0,50.0,1400.0,84.0,1.88,2632.0,2018.0,92500.0,93500.0,17300.0,17250.0,3780.0,42.325000,10.125000,0.666667,29.225000,5.450,8.325000
3,California,335.0,41.0,13735.0,3022.0,2.11,28981.0,2018.0,3560000.0,4630000.0,533000.0,525000.0,573500.0,46.175000,11.175000,7.575000,13.675000,9.600,5.175000
4,Colorado,31.0,48.0,1488.0,283.0,2.05,3050.0,2018.0,93500.0,112000.0,15700.0,12770.0,9770.0,55.075000,7.766667,5.875000,2.366667,8.150,2.125000
5,Florida,215.0,49.0,10535.0,737.0,2.40,25284.0,2018.0,952000.0,1045000.0,156000.0,217000.0,167000.0,39.600000,21.450000,6.850000,11.625000,9.475,13.400000
6,Georgia,98.0,34.0,3332.0,200.0,2.76,9196.0,2018.0,550000.0,575000.0,77500.0,96500.0,137000.0,45.950000,20.525000,6.600000,16.050000,17.575,6.675000
7,Hawaii,17.0,103.0,1751.0,18.0,1.92,3362.0,2018.0,62000.0,62000.0,4620.0,4900.0,17200.0,73.275000,78.375000,0.266667,0.100000,0.125,0.150000
8,Idaho,96.0,31.0,2976.0,655.0,1.96,5833.0,2018.0,405000.0,523000.0,55800.0,43500.0,53510.0,56.900000,15.625000,7.050000,15.950000,7.050,3.675000
9,Illinois,11.0,41.0,451.0,108.0,4.83,2178.0,2018.0,43500.0,44000.0,6560.0,7000.0,4200.0,21.975000,10.700000,3.700000,4.500000,7.175,6.500000
10,Indiana,7.0,46.0,322.0,106.0,3.58,1153.0,2018.0,35500.0,37500.0,7090.0,4860.0,3160.0,48.275000,11.325000,7.150000,22.550000,12.900,1.900000
11,Iowa,38.0,49.0,1862.0,1005.0,2.40,4469.0,2018.0,163000.0,170000.0,13400.0,17750.0,5980.0,25.750000,11.850000,4.650000,10.125000,10.075,1.925000
12,Kansas,5.0,73.0,365.0,95.0,3.10,1132.0,2018.0,19100.0,19100.0,3070.0,3020.0,2700.0,61.150000,33.575000,8.725000,20.225000,13.825,11.250000
13,Kentucky,4.0,41.0,164.0,34.0,5.43,891.0,2018.0,23800.0,25500.0,4890.0,2280.0,1670.0,45.650000,29.950000,1.075000,5.100000,5.425,6.025000
14,Louisiana,45.0,83.0,3735.0,261.0,1.91,7134.0,2018.0,201000.0,205000.0,9070.0,12830.0,6820.0,15.225000,10.800000,0.225000,2.275000,1.925,1.550000
15,Maine,12.0,32.0,384.0,92.0,2.98,1144.0,2018.0,28600.0,43400.0,3630.0,740.0,1960.0,17.950000,1.950000,0.500000,1.800000,2.625,2.025000
16,Michigan,97.0,44.0,4268.0,768.0,2.49,10627.0,2018.0,217500.0,268000.0,28000.0,35400.0,35700.0,57.875000,16.300000,7.100000,14.475000,11.700,10.275000
17,Minnesota,119.0,61.0,7259.0,1161.0,1.94,14082.0,2018.0,313000.0,383000.0,50900.0,63600.0,33990.0,21.775000,6.700000,4.700000,10.625000,5.500,8.450000
18,Mississippi,20.0,87.0,1740.0,70.0,2.07,3602.0,2018.0,103000.0,127500.0,11900.0,32340.0,12700.0,25.775000,11.050000,0.200000,0.450000,4.500,12.050000
19,Missouri,9.0,45.0,405.0,36.0,2.83,1146.0,2018.0,35000.0,35000.0,3210.0,3630.0,1410.0,38.250000,29.475000,0.850000,2.125000,11.050,7.925000
20,Montana,160.0,92.0,14720.0,3680.0,1.90,27968.0,2018.0,328000.0,486000.0,28940.0,33040.0,42500.0,38.675000,11.933333,8.800000,12.925000,6.450,1.200000
21,Nebraska,40.0,59.0,2360.0,850.0,2.01,4744.0,2018.0,114000.0,153000.0,14630.0,18600.0,6540.0,8.875000,1.475000,2.333333,3.200000,4.100,2.475000
22,New Jersey,13.0,31.0,403.0,165.0,7.47,3010.0,2018.0,40400.0,51000.0,2620.0,1660.0,660.0,14.425000,3.375000,0.150000,0.200000,3.400,0.400000
23,New York,56.0,48.0,2688.0,833.0,3.24,8709.0,2018.0,154000.0,171000.0,15300.0,13000.0,7670.0,33.200000,14.325000,10.800000,8.675000,14.000,5.125000
24,North Carolina,10.0,33.0,330.0,63.0,5.76,1901.0,2018.0,68500.0,70000.0,10300.0,8850.0,3360.0,39.600000,10.275000,4.000000,3.275000,12.625,4.275000
25,North Dakota,550.0,72.0,39600.0,4752.0,1.87,74052.0,2018.0,1021000.0,1454000.0,102200.0,63100.0,62010.0,27.050000,7.125000,5.925000,8.566667,5.000,3.366667
26,Ohio,14.0,73.0,1022.0,491.0,3.72,3802.0,2018.0,54500.0,58500.0,8500.0,10770.0,4930.0,41.650000,21.875000,2.725000,3.825000,12.950,6.075000
27,Oregon,93.0,35.0,3255.0,1009.0,2.36,7682.0,2018.0,327000.0,413000.0,33500.0,53500.0,88900.0,45.800000,2.900000,8.075000,18.300000,7.700,0.550000
28,Pennsylvania,19.0,44.0,836.0,309.0,3.89,3252.0,2018.0,71000.0,76000.0,7460.0,10770.0,6070.0,29.025000,10.150000,3.525000,6.500000,4.250,4.950000
29,South Carolina,16.0,48.0,768.0,15.0,3.17,2435.0,2018.0,47000.0,52500.0,6000.0,5740.0,8690.0,38.150000,22.100000,0.600000,9.500000,8.050,3.075000
30,South Dakota,255.0,47.0,11985.0,5154.0,1.91,22891.0,2018.0,341500.0,527000.0,55390.0,31250.0,72020.0,31.300000,19.125000,6.000000,4.700000,21.750,1.400000
31,Tennessee,7.0,46.0,322.0,84.0,4.11,1323.0,2018.0,35000.0,35500.0,7000.0,4370.0,3140.0,44.900000,29.325000,1.975000,7.750000,8.525,7.350000
32,Texas,132.0,56.0,7392.0,1035.0,2.12,15671.0,2018.0,738000.0,984000.0,77500.0,236500.0,120570.0,21.225000,12.600000,4.650000,3.450000,4.750,7.300000
33,Utah,26.0,41.0,1066.0,75.0,2.10,2239.0,2018.0,79000.0,100000.0,10120.0,11640.0,5950.0,36.050000,9.666667,1.925000,3.300000,2.250,2.000000
34,Vermont,7.0,48.0,336.0,94.0,3.76,1263.0,2018.0,24500.0,25500.0,1350.0,3830.0,240.0,18.575000,2.225000,1.766667,13.800000,1.225,0.533333
35,Virginia,4.0,40.0,160.0,35.0,7.24,1158.0,2018.0,26500.0,27000.0,4300.0,4020.0,3150.0,36.275000,24.300000,4.550000,6.475000,12.100,5.575000
36,Washington,77.0,43.0,3311.0,563.0,2.15,7119.0,2018.0,250000.0,376000.0,34100.0,38500.0,24760.0,26.500000,2.850000,5.225000,4.275000,5.175,1.275000
37,West Virginia,6.0,37.0,222.0,38.0,4.33,961.0,2018.0,26200.0,30500.0,4210.0,2650.0,1880.0,28.825000,20.825000,0.950000,3.450000,11.350,5.425000
38,Wisconsin,51.0,45.0,2295.0,711.0,2.95,6770.0,2018.0,154000.0,196000.0,29100.0,19300.0,12490.0,32.800000,20.225000,5.775000,18.025000,11.600,3.525000
39,Wyoming,39.0,56.0,2184.0,175.0,1.91,4171.0,2018.0,77000.0,96000.0,9020.0,5190.0,6200.0,22.800000,2.800000,1.825000,6.033333,2.325,2.650000
40,Other States,36.0,39.0,1399.0,314.0,6.02,8422.0,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,United States,2828.0,54.5,154008.0,29303.0,2.21,340358.0,2018.0,11151640.0,0.0,1517070.0,1721790.0,1579200.0,49.625000,16.800000,8.125000,13.200000,11.350,6.875000
42,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13200.0,13200.0,610.0,640.0,870.0,12.775000,1.733333,1.350000,0.975000,3.800,1.850000
43,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29500.0,32500.0,2920.0,3040.0,2160.0,14.575000,5.075000,1.450000,0.900000,6.175,2.250000
44,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20300.0,26200.0,4110.0,2110.0,1690.0,33.625000,5.625000,5.150000,5.450000,3.950,6.225000
45,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23400.0,26800.0,8150.0,4320.0,1450.0,41.466667,0.466667,2.000000,4.566667,4.500,0.725000
46,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36800.0,92600.0,8170.0,9970.0,6770.0,39.250000,17.725000,4.300000,16.766667,10.900,6.450000
47,Other States 5/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22840.0,32840.0,4170.0,2540.0,1910.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Other States 4/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.350000,1.000000,0.675000,4.150000,3.075,1.900000

In [19]:
# csv files 
data_2018_df.to_csv('data_2018.csv', index=False, header=True)