In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Import All Colony Data

In [2]:
csv_path = "Data/Colony_Data/hcny_2016_1.csv"
colony_2016_1_df = pd.read_csv(csv_path)
colony_2016_1_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,1700,23,1200.0,180.0,2.0
1,Arizona,30000,30000.0,4700,16,2200.0,960.0,3.0
2,Arkansas,27000,27000.0,5000,19,4700.0,2200.0,8.0
3,California,1140000,1410000.0,210000,15,175000.0,63000.0,5.0
4,Colorado,6000,7000.0,570,8,NaN,20.0,NaN

In [9]:
colony_2016_4_df.dtypes

State                       object
Colony_Number                int64
Max_Colony_Number          float64
Lost_Colony_Number           int64
Percent_Lost                 int64
Added_Colony_Number        float64
Renovated_Colony_Number    float64
Percent_Renovated          float64
dtype: object

In [4]:
csv_path = "Data/Colony_Data/hcny_2016_2.csv"
colony_2016_2_df = pd.read_csv(csv_path)
colony_2016_2_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,8000,8000.0,930,12.0,1200,690.0,9.0
1,Arizona,22000,23000.0,3700,16.0,14000,1600.0,7.0
2,Arkansas,24000,24000.0,3400,14.0,12000,1600.0,7.0
3,California,1110000,1150000.0,108000,9.0,240000,185000.0,16.0
4,Colorado,9500,29000.0,1800,6.0,9000,680.0,2.0

In [6]:
csv_path = "Data/Colony_Data/hcny_2016_3.csv"
colony_2016_3_df = pd.read_csv(csv_path)
colony_2016_3_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,8000,8000.0,1200,15,440,50,1.0
1,Arizona,30000,32000.0,6000,19,3200,2600,8.0
2,Arkansas,32000,32000.0,1500,5,270,60,NaN
3,California,740000,820000.0,82000,10,33000,78000,10.0
4,Colorado,33000,37000.0,6500,18,1100,740,2.0

In [8]:
csv_path = "Data/Colony_Data/hcny_2016_4.csv"
colony_2016_4_df = pd.read_csv(csv_path)
colony_2016_4_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,610,9,50.0,10.0,NaN
1,Arizona,29000,31000.0,6500,21,4600.0,3100.0,10.0
2,Arkansas,28000,28000.0,2500,9,20.0,10.0,NaN
3,California,770000,1330000.0,205000,15,40000.0,35000.0,3.0
4,Colorado,30000,30000.0,4500,15,2500.0,NaN,NaN

## Merge ALL Colony DataFrames and Calculate Sum

In [10]:
sum_2016_df = pd.concat((colony_2016_1_df, colony_2016_2_df, colony_2016_3_df, colony_2016_4_df))
sum_2016_df

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,1700,23.0,1200.0,180.0,2.0
1,Arizona,30000,30000.0,4700,16.0,2200.0,960.0,3.0
2,Arkansas,27000,27000.0,5000,19.0,4700.0,2200.0,8.0
3,California,1140000,1410000.0,210000,15.0,175000.0,63000.0,5.0
4,Colorado,6000,7000.0,570,8.0,NaN,20.0,NaN
...,...,...,...,...,...,...,...,...
42,West Virginia,7500,7500.0,1000,13.0,80.0,60.0,1.0
43,Wisconsin,59000,59000.0,7500,13.0,10.0,20.0,NaN
44,Wyoming,25000,27000.0,2200,8.0,50.0,NaN,NaN
45,Other States 5/,6360,6460.0,580,9.0,20.0,NaN,NaN
46,United States,3032060,NaN,502350,17.0,124660.0,60390.0,2.0

In [11]:
colony_2016_df = sum_2016_df.groupby("State").sum()
colony_2016_df.head()

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
State,,,,,,,
Alabama,30500,30500.0,4440,59.0,2890.0,930.0,12.0
Arizona,111000,116000.0,20900,72.0,24000.0,8260.0,28.0
Arkansas,111000,111000.0,12400,47.0,16990.0,3870.0,15.0
California,3760000,4710000.0,605000,49.0,488000.0,361000.0,34.0
Colorado,78500,103000.0,13370,47.0,12600.0,1440.0,4.0

In [13]:
# Remove Percent_Lost and Percent_Renovated Columns
colony_2016_df = colony_2016_df[['Colony_Number', 'Max_Colony_Number', 'Lost_Colony_Number',
                                 'Added_Colony_Number', 'Renovated_Colony_Number']]
colony_2016_df

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
State,,,,,
Alabama,30500,30500.0,4440,2890.0,930.0
Arizona,111000,116000.0,20900,24000.0,8260.0
Arkansas,111000,111000.0,12400,16990.0,3870.0
California,3760000,4710000.0,605000,488000.0,361000.0
Colorado,78500,103000.0,13370,12600.0,1440.0
Connecticut,11400,11400.0,880,1350.0,250.0
Florida,940000,1025000.0,140000,172000.0,65500.0
Georgia,406000,426000.0,55000,70000.0,12350.0
Hawaii,55500,55500.0,2680,1930.0,2760.0
Idaho,350000,451000.0,41000,31400.0,15220.0
Illinois,36000,36500.0,4060,3520.0,710.0
Indiana,27800,30500.0,2790,3210.0,1450.0
Iowa,131000,146500.0,15800,36590.0,3180.0
Kansas,22400,23700.0,5840,3510.0,1290.0
Kentucky,27500,28000.0,3700,3170.0,650.0
Louisiana,219000,239000.0,22800,20350.0,17440.0
Maine,14800,37700.0,5070,750.0,700.0
Maryland,29000,32000.0,2420,3260.0,470.0
Massachusetts,24700,29000.0,1940,1670.0,810.0
Michigan,274000,349000.0,40000,26810.0,12940.0
Minnesota,309000,417000.0,58500,29700.0,6110.0
Mississippi,145500,217000.0,15900,21080.0,63500.0
Missouri,46000,46500.0,3210,4610.0,1830.0
Montana,348500,487000.0,35340,43300.0,20000.0
Nebraska,112000,148000.0,19130,8620.0,55030.0
New Jersey,42700,56500.0,3110,2500.0,230.0
New Mexico,26000,26500.0,5800,5810.0,1190.0
New York,166000,182000.0,27000,15780.0,3830.0
North Carolina,91500,98000.0,11000,11700.0,2640.0
North Dakota,1087000,1643000.0,159000,61500.0,201500.0
Ohio,70500,73000.0,9600,7760.0,1970.0
Oklahoma,24800,66700.0,6470,4210.0,10570.0
Oregon,352000,460000.0,24100,27200.0,23100.0
Other States 5/,33500,41770.0,4470,5040.0,710.0
Pennsylvania,63500,69500.0,8600,7520.0,2400.0
South Carolina,54000,60500.0,6920,6050.0,2630.0
South Dakota,405000,610000.0,47770,19230.0,24900.0
Tennessee,36000,36000.0,4070,4460.0,650.0
Texas,845000,1093000.0,116000,161700.0,97460.0
United States,11609300,0.0,1658260,1457060.0,1061730.0
Utah,83500,100500.0,11300,14350.0,7270.0
Vermont,23500,25000.0,1090,670.0,90.0
Virginia,27500,28000.0,2870,3390.0,980.0
Washington,291000,449000.0,33000,35800.0,15630.0
West Virginia,28500,29500.0,3880,2810.0,450.0
Wisconsin,170500,235000.0,27900,18920.0,4260.0
Wyoming,66200,99000.0,12140,9350.0,1580.0

## Import All Bee Stressor Data

In [15]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2016_1.csv"
stressor_2016_1_df = pd.read_csv(csv_path)
stressor_2016_1_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,24.2,22.0,4.3,8.1,2.4,11.3
1,Arizona,33.8,2.8,NaN,7.7,6.5,7.2
2,Arkansas,57.4,6.9,NaN,0.5,1.9,8.1
3,California,38.1,15.2,9.0,13.5,8.4,4.4
4,Colorado,2.9,4.1,0.5,0.2,2.7,0.2

In [16]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2016_2.csv"
stressor_2016_2_df = pd.read_csv(csv_path)
stressor_2016_2_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,9.6,8.2,0.3,1.7,4.8,5.4
1,Arizona,26.8,47.5,17.2,12.0,17.4,3.5
2,Arkansas,84.9,8.5,5.5,0.1,3.4,1.6
3,California,49.7,14.1,11.2,14.2,15.3,2.6
4,Colorado,38.7,0.8,3.3,1.4,2.6,0.3

In [17]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2016_3.csv"
stressor_2016_3_df = pd.read_csv(csv_path)
stressor_2016_3_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,11.7,42.0,NaN,3.8,3.2,13.8
1,Arizona,41.7,1.0,0.9,13.5,13.4,8.9
2,Arkansas,80.7,9.0,0.4,7.9,2.7,0.3
3,California,42.2,17.8,8.5,18.8,10.4,6.9
4,Colorado,49.3,22.4,16.8,24.6,10.6,0.1

In [18]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2016_4.csv"
stressor_2016_4_df = pd.read_csv(csv_path)
stressor_2016_4_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,12.3,9.9,0.2,2.4,6.7,3.3
1,Arizona,98.8,15.5,2.3,6.5,4.3,3.2
2,Arkansas,21.1,4.8,NaN,1.3,1.1,3.3
3,California,41.9,13.7,8.0,9.1,9.6,3.5
4,Colorado,32.4,1.3,0.1,3.1,13.0,0.1

## Merge ALL Stressor DataFrames and Calculate Mean

In [19]:
stressor_all_df = pd.concat((stressor_2016_1_df, stressor_2016_2_df, stressor_2016_3_df, stressor_2016_4_df))
stressor_all_df

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,24.2,22.0,4.3,8.1,2.4,11.3
1,Arizona,33.8,2.8,NaN,7.7,6.5,7.2
2,Arkansas,57.4,6.9,NaN,0.5,1.9,8.1
3,California,38.1,15.2,9.0,13.5,8.4,4.4
4,Colorado,2.9,4.1,0.5,0.2,2.7,0.2
...,...,...,...,...,...,...,...
42,West Virginia,23.8,2.3,1.1,1.1,4.3,2.8
43,Wisconsin,69.3,12.2,10.0,10.6,10.6,46.2
44,Wyoming,32.2,1.6,3.1,5.2,1.1,NaN
45,Other States 4/,24.1,9.3,9.3,9.6,2.3,1.4
46,United States,46.6,16.9,8.3,9.4,10.1,6.4

In [20]:
stressor_2016_df = stressor_all_df.groupby("State").mean()
stressor_2016_df.head()

,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
State,,,,,,
Alabama,14.450,20.525,1.600,4.000,4.275,8.450
Arizona,50.275,16.700,6.800,9.925,10.400,5.700
Arkansas,61.025,7.300,2.950,2.450,2.275,3.325
California,42.975,15.200,9.175,13.900,10.925,4.350
Colorado,30.825,7.150,5.175,7.325,7.225,0.175

## Merge ALL DataFrames for 2016

In [21]:
csv_path = "Data/Production_Data/honey_2016.csv"
honey_2016_df = pd.read_csv(csv_path)
honey_2016_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,52.0,364,33,345.0,1256,2016
1,Arizona,27,46.0,1242,261,197.0,2447,2016
2,Arkansas,24,69.0,1656,99,185.0,3064,2016
3,California,310,36.0,11160,2009,204.0,22766,2016
4,Colorado,32,40.0,1280,282,224.0,2867,2016

In [22]:
merge_1_df = pd.merge(honey_2016_df, colony_2016_df, on=["State"], how="outer")
merge_1_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
0,Alabama,7.0,52.0,364.0,33.0,345.0,1256.0,2016.0,30500.0,30500.0,4440.0,2890.0,930.0
1,Arizona,27.0,46.0,1242.0,261.0,197.0,2447.0,2016.0,111000.0,116000.0,20900.0,24000.0,8260.0
2,Arkansas,24.0,69.0,1656.0,99.0,185.0,3064.0,2016.0,111000.0,111000.0,12400.0,16990.0,3870.0
3,California,310.0,36.0,11160.0,2009.0,204.0,22766.0,2016.0,3760000.0,4710000.0,605000.0,488000.0,361000.0
4,Colorado,32.0,40.0,1280.0,282.0,224.0,2867.0,2016.0,78500.0,103000.0,13370.0,12600.0,1440.0

In [23]:
data_2016_df = pd.merge(merge_1_df, stressor_2016_df, on=["State"], how="outer")
data_2016_df

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,7.0,52.0,364.0,33.0,345.0,1256.0,2016.0,30500.0,30500.0,4440.0,2890.0,930.0,14.450000,20.525000,1.600000,4.000000,4.275,8.450000
1,Arizona,27.0,46.0,1242.0,261.0,197.0,2447.0,2016.0,111000.0,116000.0,20900.0,24000.0,8260.0,50.275000,16.700000,6.800000,9.925000,10.400,5.700000
2,Arkansas,24.0,69.0,1656.0,99.0,185.0,3064.0,2016.0,111000.0,111000.0,12400.0,16990.0,3870.0,61.025000,7.300000,2.950000,2.450000,2.275,3.325000
3,California,310.0,36.0,11160.0,2009.0,204.0,22766.0,2016.0,3760000.0,4710000.0,605000.0,488000.0,361000.0,42.975000,15.200000,9.175000,13.900000,10.925,4.350000
4,Colorado,32.0,40.0,1280.0,282.0,224.0,2867.0,2016.0,78500.0,103000.0,13370.0,12600.0,1440.0,30.825000,7.150000,5.175000,7.325000,7.225,0.175000
5,Florida,215.0,50.0,10750.0,538.0,243.0,26123.0,2016.0,940000.0,1025000.0,140000.0,172000.0,65500.0,36.950000,19.900000,5.200000,10.850000,8.500,2.925000
6,Georgia,96.0,39.0,3744.0,899.0,269.0,10071.0,2016.0,406000.0,426000.0,55000.0,70000.0,12350.0,41.475000,15.300000,2.550000,17.375000,6.650,3.400000
7,Hawaii,16.0,113.0,1808.0,127.0,231.0,4176.0,2016.0,55500.0,55500.0,2680.0,1930.0,2760.0,35.900000,38.925000,0.100000,0.400000,1.400,0.100000
8,Idaho,97.0,34.0,3298.0,1253.0,182.0,6002.0,2016.0,350000.0,451000.0,41000.0,31400.0,15220.0,27.475000,3.150000,3.525000,4.200000,5.250,2.600000
9,Illinois,10.0,48.0,480.0,77.0,542.0,2602.0,2016.0,36000.0,36500.0,4060.0,3520.0,710.0,17.250000,7.600000,1.050000,3.900000,4.025,4.275000
10,Indiana,7.0,62.0,434.0,208.0,346.0,1502.0,2016.0,27800.0,30500.0,2790.0,3210.0,1450.0,27.125000,7.150000,0.766667,1.100000,3.375,3.700000
11,Iowa,37.0,48.0,1776.0,746.0,208.0,3694.0,2016.0,131000.0,146500.0,15800.0,36590.0,3180.0,31.900000,11.350000,10.550000,7.250000,10.950,5.600000
12,Kansas,7.0,48.0,336.0,54.0,304.0,1021.0,2016.0,22400.0,23700.0,5840.0,3510.0,1290.0,37.400000,13.850000,4.325000,10.400000,3.925,2.800000
13,Kentucky,5.0,46.0,230.0,48.0,402.0,925.0,2016.0,27500.0,28000.0,3700.0,3170.0,650.0,38.250000,23.275000,1.650000,12.300000,11.550,5.600000
14,Louisiana,50.0,86.0,4300.0,301.0,194.0,8342.0,2016.0,219000.0,239000.0,22800.0,20350.0,17440.0,21.475000,10.600000,9.800000,0.600000,5.975,1.100000
15,Maine,12.0,34.0,408.0,65.0,338.0,1379.0,2016.0,14800.0,37700.0,5070.0,750.0,700.0,26.500000,0.433333,1.225000,31.100000,2.400,9.800000
16,Michigan,89.0,60.0,5340.0,1709.0,237.0,12656.0,2016.0,274000.0,349000.0,40000.0,26810.0,12940.0,37.000000,9.025000,0.500000,7.200000,5.900,3.925000
17,Minnesota,124.0,59.0,7316.0,1390.0,169.0,12364.0,2016.0,309000.0,417000.0,58500.0,29700.0,6110.0,26.900000,8.825000,4.000000,17.450000,9.850,9.975000
18,Mississippi,19.0,85.0,1615.0,113.0,173.0,2794.0,2016.0,145500.0,217000.0,15900.0,21080.0,63500.0,18.875000,3.350000,0.966667,2.566667,2.150,5.525000
19,Missouri,8.0,62.0,496.0,30.0,231.0,1146.0,2016.0,46000.0,46500.0,3210.0,4610.0,1830.0,16.700000,7.225000,0.575000,2.133333,2.675,2.475000
20,Montana,159.0,77.0,12243.0,3183.0,177.0,21670.0,2016.0,348500.0,487000.0,35340.0,43300.0,20000.0,32.975000,18.433333,14.800000,6.250000,11.600,11.566667
21,Nebraska,48.0,46.0,2208.0,640.0,191.0,4217.0,2016.0,112000.0,148000.0,19130.0,8620.0,55030.0,9.700000,0.875000,0.350000,3.850000,0.975,1.425000
22,New Jersey,12.0,27.0,324.0,198.0,709.0,2297.0,2016.0,42700.0,56500.0,3110.0,2500.0,230.0,17.175000,5.100000,0.500000,3.666667,1.650,5.300000
23,New York,64.0,57.0,3648.0,1167.0,319.0,11637.0,2016.0,166000.0,182000.0,27000.0,15780.0,3830.0,28.275000,5.050000,2.875000,9.250000,10.125,2.775000
24,North Carolina,12.0,37.0,444.0,89.0,478.0,2122.0,2016.0,91500.0,98000.0,11000.0,11700.0,2640.0,28.275000,11.775000,2.125000,13.133333,9.550,12.100000
25,North Dakota,485.0,78.0,37830.0,6809.0,185.0,69986.0,2016.0,1087000.0,1643000.0,159000.0,61500.0,201500.0,20.100000,7.800000,3.300000,4.800000,4.050,4.300000
26,Ohio,15.0,79.0,1185.0,664.0,393.0,4657.0,2016.0,70500.0,73000.0,9600.0,7760.0,1970.0,38.700000,8.800000,0.975000,6.675000,6.975,5.200000
27,Oregon,74.0,35.0,2590.0,622.0,191.0,4947.0,2016.0,352000.0,460000.0,24100.0,27200.0,23100.0,37.875000,12.700000,10.175000,5.000000,6.700,2.275000
28,Pennsylvania,19.0,50.0,950.0,266.0,303.0,2879.0,2016.0,63500.0,69500.0,8600.0,7520.0,2400.0,27.375000,4.625000,1.325000,3.625000,4.450,2.450000
29,South Carolina,16.0,45.0,720.0,36.0,457.0,3290.0,2016.0,54000.0,60500.0,6920.0,6050.0,2630.0,27.850000,21.200000,6.250000,16.250000,11.975,2.475000
30,South Dakota,280.0,71.0,19880.0,12127.0,176.0,34989.0,2016.0,405000.0,610000.0,47770.0,19230.0,24900.0,32.575000,10.466667,5.400000,11.266667,5.375,0.875000
31,Tennessee,6.0,55.0,330.0,69.0,488.0,1610.0,2016.0,36000.0,36000.0,4070.0,4460.0,650.0,25.750000,18.625000,0.533333,1.900000,6.900,4.650000
32,Texas,133.0,70.0,9310.0,2607.0,208.0,19365.0,2016.0,845000.0,1093000.0,116000.0,161700.0,97460.0,31.450000,11.925000,3.675000,11.700000,4.400,2.925000
33,Utah,31.0,32.0,992.0,169.0,193.0,1915.0,2016.0,83500.0,100500.0,11300.0,14350.0,7270.0,26.925000,6.850000,0.675000,7.600000,2.050,0.825000
34,Vermont,6.0,52.0,312.0,69.0,364.0,1136.0,2016.0,23500.0,25000.0,1090.0,670.0,90.0,13.500000,16.466667,10.825000,41.000000,0.900,0.866667
35,Virginia,5.0,38.0,190.0,30.0,585.0,1112.0,2016.0,27500.0,28000.0,2870.0,3390.0,980.0,31.575000,13.875000,3.300000,2.900000,4.850,3.850000
36,Washington,84.0,35.0,2940.0,412.0,199.0,5851.0,2016.0,291000.0,449000.0,33000.0,35800.0,15630.0,37.700000,6.975000,2.300000,8.250000,5.450,1.525000
37,West Virginia,5.0,32.0,160.0,43.0,392.0,627.0,2016.0,28500.0,29500.0,3880.0,2810.0,450.0,26.825000,3.275000,2.500000,0.600000,8.500,2.600000
38,Wisconsin,54.0,62.0,3348.0,1205.0,267.0,8939.0,2016.0,170500.0,235000.0,27900.0,18920.0,4260.0,37.100000,7.775000,8.675000,13.100000,10.350,19.550000
39,Wyoming,40.0,68.0,2720.0,190.0,178.0,4842.0,2016.0,66200.0,99000.0,12140.0,9350.0,1580.0,25.966667,1.925000,1.250000,2.725000,1.950,0.800000
40,Other StatesS,35.0,44.0,1525.0,416.0,424.0,6466.0,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,United States,2775.0,58.3,161882.0,41253.0,211.9,343028.0,2016.0,11609300.0,0.0,1658260.0,1457060.0,1061730.0,45.175000,15.350000,7.675000,11.950000,9.650,5.100000
42,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11400.0,11400.0,880.0,1350.0,250.0,13.775000,2.400000,0.600000,0.500000,5.725,1.725000
43,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29000.0,32000.0,2420.0,3260.0,470.0,16.250000,3.875000,2.333333,4.425000,4.100,0.875000
44,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24700.0,29000.0,1940.0,1670.0,810.0,17.700000,6.775000,2.050000,3.700000,2.375,6.275000
45,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26000.0,26500.0,5800.0,5810.0,1190.0,58.450000,14.100000,26.500000,13.300000,3.050,0.433333
46,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,66700.0,6470.0,4210.0,10570.0,17.275000,2.750000,0.250000,0.575000,0.750,10.975000
47,Other States 5/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33500.0,41770.0,4470.0,5040.0,710.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Other States 4/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.250000,3.350000,3.433333,4.166667,3.450,4.175000

In [24]:
# csv files 
data_2016_df.to_csv('data_2016.csv', index=False, header=True)