In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Import All Colony Data

In [2]:
csv_path = "Data/Colony_Data/hcny_2015_1.csv"
colony_2015_1_df = pd.read_csv(csv_path)
colony_2015_1_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,1800,26,2800,250.0,4.0
1,Arizona,35000,35000.0,4600,13,3400,2100.0,6.0
2,Arkansas,13000,14000.0,1500,11,1200,90.0,1.0
3,California,1440000,1690000.0,255000,15,250000,124000.0,7.0
4,Colorado,3500,12500.0,1500,12,200,140.0,1.0

In [3]:
# colony_2015_1_df.dtypes

In [4]:
csv_path = "Data/Colony_Data/hcny_2015_2.csv"
colony_2015_2_df = pd.read_csv(csv_path)
colony_2015_2_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7500,7500.0,860,12,1900,680,9
1,Arizona,33000,33000.0,5500,17,19500,7000,21
2,Arkansas,13500,13500.0,1900,14,11500,5500,41
3,California,1040000,1050000.0,104000,10,170000,285000,27
4,Colorado,12000,25000.0,1900,8,6000,3500,14

In [5]:
csv_path = "Data/Colony_Data/hcny_2015_3.csv"
colony_2015_3_df = pd.read_csv(csv_path)
colony_2015_3_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,8500,9000.0,1400,16,160,260,3.0
1,Arizona,40000,40000.0,6000,15,4300,15500,39.0
2,Arkansas,23000,30000.0,9000,30,500,210,1.0
3,California,730000,800000.0,76000,10,40000,93000,12.0
4,Colorado,29000,30000.0,4500,15,1400,1400,5.0

In [6]:
csv_path = "Data/Colony_Data/hcny_2015_4.csv"
colony_2015_4_df = pd.read_csv(csv_path)
colony_2015_4_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,8000,8000.0,610,8,80.0,60.0,1.0
1,Arizona,36000,39000.0,12000,31,3000.0,16000.0,41.0
2,Arkansas,23000,27000.0,2400,9,1900.0,NaN,NaN
3,California,750000,1260000.0,149000,12,39000.0,75000.0,6.0
4,Colorado,24000,24000.0,2500,10,3400.0,NaN,NaN

## Merge ALL Colony DataFrames and Calculate Sum

In [7]:
sum_2015_df = pd.concat((colony_2015_1_df, colony_2015_2_df, colony_2015_3_df, colony_2015_4_df))
sum_2015_df

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,1800,26,2800.0,250.0,4.0
1,Arizona,35000,35000.0,4600,13,3400.0,2100.0,6.0
2,Arkansas,13000,14000.0,1500,11,1200.0,90.0,1.0
3,California,1440000,1690000.0,255000,15,250000.0,124000.0,7.0
4,Colorado,3500,12500.0,1500,12,200.0,140.0,1.0
...,...,...,...,...,...,...,...,...
42,West Virginia,7000,7000.0,610,9,190.0,140.0,2.0
43,Wisconsin,48000,48000.0,6500,14,210.0,10.0,NaN
44,Wyoming,24000,25000.0,1300,5,30.0,NaN,NaN
45,Other States 5/,11360,12560.0,1630,13,100.0,50.0,NaN
46,United States,2874760,NaN,412380,14,117150.0,158790.0,6.0

In [8]:
colony_2015_df = sum_2015_df.groupby("State").sum()
colony_2015_df.head()

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
State,,,,,,,
Alabama,31000,31500.0,4670,62,4940.0,1250.0,17.0
Arizona,144000,147000.0,28100,76,30200.0,40600.0,107.0
Arkansas,72500,84500.0,14800,64,15100.0,5800.0,43.0
California,3960000,4800000.0,584000,47,499000.0,577000.0,52.0
Colorado,68500,91500.0,10400,45,11000.0,5040.0,20.0

In [10]:
# Remove Percent_Lost and Percent_Renovated Columns
colony_2015_df = colony_2015_df[['Colony_Number', 'Max_Colony_Number', 'Lost_Colony_Number',
                                 'Added_Colony_Number', 'Renovated_Colony_Number']]
colony_2015_df

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
State,,,,,
Alabama,31000,31500.0,4670,4940.0,1250.0
Arizona,144000,147000.0,28100,30200.0,40600.0
Arkansas,72500,84500.0,14800,15100.0,5800.0
California,3960000,4800000.0,584000,499000.0,577000.0
Colorado,68500,91500.0,10400,11000.0,5040.0
Connecticut,13800,13800.0,1210,1620.0,660.0
Florida,899000,1010000.0,150000,165000.0,106000.0
Georgia,436000,460000.0,68500,95900.0,45900.0
Hawaii,51500,51500.0,3890,8400.0,8220.0
Idaho,344000,433000.0,46200,30100.0,35500.0
Illinois,43500,48000.0,7590,9600.0,3020.0
Indiana,43500,48500.0,6100,6930.0,4840.0
Iowa,89000,113500.0,11800,8880.0,4080.0
Kansas,28100,32000.0,6670,3400.0,670.0
Kentucky,33500,37500.0,7480,4040.0,2060.0
Louisiana,200000,222000.0,16700,13000.0,18700.0
Maine,18400,47200.0,4090,4460.0,860.0
Maryland,30000,38000.0,5880,4930.0,1650.0
Massachusetts,19000,30600.0,2140,1520.0,1060.0
Michigan,230500,310000.0,37000,24510.0,13300.0
Minnesota,336000,440000.0,58200,21930.0,23870.0
Mississippi,177000,233000.0,24500,28260.0,17840.0
Missouri,51000,53000.0,4390,2850.0,3380.0
Montana,300500,525000.0,26900,19600.0,44180.0
Nebraska,178000,249000.0,19700,16130.0,16410.0
New Jersey,41000,55000.0,3380,2880.0,5010.0
New Mexico,26000,28000.0,3580,3280.0,1610.0
New York,140000,156000.0,18100,16090.0,9460.0
North Carolina,89500,95000.0,13900,14510.0,5160.0
North Dakota,868000,1345000.0,157620,54500.0,92530.0
Ohio,77500,83000.0,16900,17500.0,10320.0
Oklahoma,59000,85000.0,9080,8550.0,2710.0
Oregon,327000,396000.0,29000,27000.0,34300.0
Other States 5/,35550,45030.0,6550,6160.0,2860.0
Pennsylvania,76500,88000.0,12400,11960.0,11500.0
South Carolina,56500,65500.0,7850,5320.0,4980.0
South Dakota,639000,887000.0,87600,40000.0,38800.0
Tennessee,35500,37000.0,5030,5170.0,1880.0
Texas,697000,951000.0,100500,176500.0,151800.0
United States,11681750,0.0,1722360,1498980.0,1425240.0
Utah,89000,115000.0,16600,14020.0,6490.0
Vermont,24000,24500.0,1780,1820.0,100.0
Virginia,31000,32000.0,4200,3420.0,1460.0
Washington,328000,418000.0,37000,30630.0,42170.0
West Virginia,23400,24700.0,3280,3960.0,1060.0
Wisconsin,149500,204000.0,28100,14610.0,12310.0
Wyoming,70500,97000.0,9000,9800.0,6840.0

## Import All Bee Stressor Data

In [11]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2015_1.csv"
stressor_2015_1_df = pd.read_csv(csv_path)
stressor_2015_1_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,10.0,5.4,NaN,2.2,9.1,9.4
1,Arizona,26.9,20.5,0.1,NaN,1.8,3.1
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1.0
3,California,24.7,7.2,3.0,7.5,6.5,2.8
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9

In [12]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2015_2.csv"
stressor_2015_2_df = pd.read_csv(csv_path)
stressor_2015_2_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,16.7,42.5,NaN,2.3,3.2,4.1
1,Arizona,8.4,32.1,0.5,20.1,28.2,0.3
2,Arkansas,65.9,63.4,7.0,22.6,27.4,9.3
3,California,50.9,21.5,7.8,23.0,14.2,3.1
4,Colorado,38.6,1.8,4.6,2.8,3.4,6.6

In [13]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2015_3.csv"
stressor_2015_3_df = pd.read_csv(csv_path)
stressor_2015_3_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,63.1,70.6,NaN,2.6,2.2,17.7
1,Arizona,53.5,24.8,5.4,17.3,7.6,5.1
2,Arkansas,69.2,32.4,0.9,5.0,1.8,1.4
3,California,39.9,20.4,12.5,19.6,15.0,4.7
4,Colorado,50.5,1.5,2.7,16.5,3.7,2.7

In [14]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2015_4.csv"
stressor_2015_4_df = pd.read_csv(csv_path)
stressor_2015_4_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,3.1,6.4,0.2,0.2,2.8,1.9
1,Arizona,50.1,1.7,1.1,3.5,0.5,15.5
2,Arkansas,38.1,9.7,0.1,8.2,8.5,0.6
3,California,37.3,12.7,6.2,11.7,10.5,7.3
4,Colorado,47.6,24.4,21.2,19.7,8.4,1.8

## Merge ALL Stressor DataFrames and Calculate Mean

In [15]:
stressor_all_df = pd.concat((stressor_2015_1_df, stressor_2015_2_df, stressor_2015_3_df, stressor_2015_4_df))
stressor_all_df

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,10.0,5.4,NaN,2.2,9.1,9.4
1,Arizona,26.9,20.5,0.1,NaN,1.8,3.1
2,Arkansas,17.6,11.4,1.5,3.4,1.0,1.0
3,California,24.7,7.2,3.0,7.5,6.5,2.8
4,Colorado,14.6,0.9,1.8,0.6,2.6,5.9
...,...,...,...,...,...,...,...
42,West Virginia,18.8,4.5,1.3,3.0,8.2,0.6
43,Wisconsin,49.4,15.6,2.5,21.9,6.6,21.4
44,Wyoming,45.0,3.3,6.6,10.5,11.3,3.9
45,Other States 4/,8.2,NaN,NaN,NaN,NaN,8.0
46,United States,37.0,11.4,5.2,9.5,7.3,6.9

In [16]:
stressor_2015_df = stressor_all_df.groupby("State").mean()
stressor_2015_df.head()

,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
State,,,,,,
Alabama,23.225,31.225,0.200,1.825000,4.325,8.275
Arizona,34.725,19.775,1.775,13.633333,9.525,6.000
Arkansas,47.700,29.225,2.375,9.800000,9.675,3.075
California,38.200,15.450,7.375,15.450000,11.550,4.475
Colorado,37.825,7.150,7.575,9.900000,4.525,4.250

## Merge ALL DataFrames for 2015

In [17]:
csv_path = "Data/Production_Data/honey_2015.csv"
honey_2015_df = pd.read_csv(csv_path)
honey_2015_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,47.0,329,13,383,1260,2015
1,Arizona,26,49.0,1274,306,217,2765,2015
2,Arkansas,24,72.0,1728,121,202,3491,2015
3,California,275,30.0,8250,1485,204,16830,2015
4,Colorado,29,51.0,1479,399,218,3224,2015

In [18]:
merge_1_df = pd.merge(honey_2015_df, colony_2015_df, on=["State"], how="outer")
merge_1_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
0,Alabama,7.0,47.0,329.0,13.0,383.0,1260.0,2015.0,31000.0,31500.0,4670.0,4940.0,1250.0
1,Arizona,26.0,49.0,1274.0,306.0,217.0,2765.0,2015.0,144000.0,147000.0,28100.0,30200.0,40600.0
2,Arkansas,24.0,72.0,1728.0,121.0,202.0,3491.0,2015.0,72500.0,84500.0,14800.0,15100.0,5800.0
3,California,275.0,30.0,8250.0,1485.0,204.0,16830.0,2015.0,3960000.0,4800000.0,584000.0,499000.0,577000.0
4,Colorado,29.0,51.0,1479.0,399.0,218.0,3224.0,2015.0,68500.0,91500.0,10400.0,11000.0,5040.0

In [19]:
data_2015_df = pd.merge(merge_1_df, stressor_2015_df, on=["State"], how="outer")
data_2015_df

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,7.0,47.0,329.0,13.0,383.0,1260.0,2015.0,31000.0,31500.0,4670.0,4940.0,1250.0,23.225,31.225000,0.200000,1.825000,4.325000,8.275000
1,Arizona,26.0,49.0,1274.0,306.0,217.0,2765.0,2015.0,144000.0,147000.0,28100.0,30200.0,40600.0,34.725,19.775000,1.775000,13.633333,9.525000,6.000000
2,Arkansas,24.0,72.0,1728.0,121.0,202.0,3491.0,2015.0,72500.0,84500.0,14800.0,15100.0,5800.0,47.700,29.225000,2.375000,9.800000,9.675000,3.075000
3,California,275.0,30.0,8250.0,1485.0,204.0,16830.0,2015.0,3960000.0,4800000.0,584000.0,499000.0,577000.0,38.200,15.450000,7.375000,15.450000,11.550000,4.475000
4,Colorado,29.0,51.0,1479.0,399.0,218.0,3224.0,2015.0,68500.0,91500.0,10400.0,11000.0,5040.0,37.825,7.150000,7.575000,9.900000,4.525000,4.250000
5,Florida,220.0,54.0,11880.0,832.0,197.0,23404.0,2015.0,899000.0,1010000.0,150000.0,165000.0,106000.0,33.325,20.000000,3.175000,14.075000,10.900000,4.350000
6,Georgia,69.0,40.0,2760.0,221.0,242.0,6679.0,2015.0,436000.0,460000.0,68500.0,95900.0,45900.0,37.525,13.125000,3.775000,14.250000,7.225000,4.875000
7,Hawaii,14.0,102.0,1428.0,71.0,195.0,2785.0,2015.0,51500.0,51500.0,3890.0,8400.0,8220.0,52.000,53.275000,0.550000,0.100000,2.566667,0.100000
8,Idaho,89.0,32.0,2848.0,1082.0,192.0,5468.0,2015.0,344000.0,433000.0,46200.0,30100.0,35500.0,37.750,4.800000,6.250000,6.200000,6.900000,4.025000
9,Illinois,8.0,51.0,408.0,155.0,432.0,1763.0,2015.0,43500.0,48000.0,7590.0,9600.0,3020.0,9.925,4.025000,0.450000,1.050000,4.825000,4.525000
10,Indiana,6.0,53.0,318.0,165.0,338.0,1075.0,2015.0,43500.0,48500.0,6100.0,6930.0,4840.0,16.225,3.225000,4.575000,2.275000,7.075000,5.900000
11,Iowa,36.0,50.0,1800.0,990.0,233.0,4194.0,2015.0,89000.0,113500.0,11800.0,8880.0,4080.0,29.575,3.125000,2.050000,5.575000,12.775000,2.525000
12,Kansas,8.0,36.0,288.0,107.0,352.0,1014.0,2015.0,28100.0,32000.0,6670.0,3400.0,670.0,28.525,11.175000,0.600000,13.375000,15.425000,7.250000
13,Kentucky,5.0,46.0,230.0,55.0,386.0,888.0,2015.0,33500.0,37500.0,7480.0,4040.0,2060.0,23.775,13.750000,2.350000,5.150000,12.100000,4.875000
14,Louisiana,44.0,99.0,4356.0,348.0,193.0,8407.0,2015.0,200000.0,222000.0,16700.0,13000.0,18700.0,22.600,2.925000,2.250000,1.250000,3.375000,0.750000
15,Maine,10.0,47.0,470.0,47.0,551.0,2590.0,2015.0,18400.0,47200.0,4090.0,4460.0,860.0,26.100,9.550000,6.650000,34.500000,2.675000,2.550000
16,Michigan,90.0,58.0,5220.0,1984.0,243.0,12685.0,2015.0,230500.0,310000.0,37000.0,24510.0,13300.0,29.000,9.125000,3.000000,7.125000,7.425000,5.050000
17,Minnesota,122.0,68.0,8296.0,2157.0,183.0,15182.0,2015.0,336000.0,440000.0,58200.0,21930.0,23870.0,25.925,7.400000,5.733333,17.250000,5.625000,6.875000
18,Mississippi,15.0,83.0,1245.0,87.0,264.0,3287.0,2015.0,177000.0,233000.0,24500.0,28260.0,17840.0,18.900,4.725000,0.233333,1.100000,2.000000,1.375000
19,Missouri,10.0,52.0,520.0,52.0,350.0,1820.0,2015.0,51000.0,53000.0,4390.0,2850.0,3380.0,8.025,7.475000,2.900000,1.975000,3.925000,4.150000
20,Montana,146.0,83.0,12118.0,3757.0,194.0,23509.0,2015.0,300500.0,525000.0,26900.0,19600.0,44180.0,26.425,9.400000,6.625000,4.950000,3.375000,9.033333
21,Nebraska,57.0,48.0,2736.0,1450.0,202.0,5527.0,2015.0,178000.0,249000.0,19700.0,16130.0,16410.0,15.275,5.766667,3.733333,3.850000,1.850000,2.625000
22,New Jersey,12.0,27.0,324.0,207.0,420.0,1361.0,2015.0,41000.0,55000.0,3380.0,2880.0,5010.0,26.875,5.000000,10.266667,12.533333,5.500000,5.250000
23,New York,58.0,62.0,3596.0,899.0,294.0,10572.0,2015.0,140000.0,156000.0,18100.0,16090.0,9460.0,22.800,7.900000,2.875000,6.700000,6.225000,4.275000
24,North Carolina,12.0,45.0,540.0,103.0,452.0,2441.0,2015.0,89500.0,95000.0,13900.0,14510.0,5160.0,32.500,11.975000,0.400000,8.575000,5.775000,6.775000
25,North Dakota,490.0,74.0,36260.0,9428.0,180.0,65268.0,2015.0,868000.0,1345000.0,157620.0,54500.0,92530.0,15.450,5.625000,3.333333,6.033333,3.725000,1.550000
26,Ohio,17.0,50.0,850.0,357.0,408.0,3468.0,2015.0,77500.0,83000.0,16900.0,17500.0,10320.0,23.375,5.625000,1.650000,11.400000,11.275000,8.975000
27,Oregon,71.0,38.0,2698.0,809.0,252.0,6799.0,2015.0,327000.0,396000.0,29000.0,27000.0,34300.0,32.975,11.250000,5.075000,5.300000,3.475000,1.700000
28,Pennsylvania,17.0,53.0,901.0,225.0,363.0,3271.0,2015.0,76500.0,88000.0,12400.0,11960.0,11500.0,29.200,6.925000,2.300000,2.225000,8.125000,2.550000
29,South Carolina,14.0,67.0,938.0,38.0,409.0,3836.0,2015.0,56500.0,65500.0,7850.0,5320.0,4980.0,28.250,10.400000,4.850000,4.525000,4.250000,2.200000
30,South Dakota,290.0,66.0,19140.0,9379.0,179.0,34261.0,2015.0,639000.0,887000.0,87600.0,40000.0,38800.0,12.450,5.575000,1.500000,4.175000,1.725000,3.275000
31,Tennessee,7.0,59.0,413.0,78.0,407.0,1681.0,2015.0,35500.0,37000.0,5030.0,5170.0,1880.0,41.100,27.525000,1.150000,6.400000,6.225000,3.000000
32,Texas,126.0,66.0,8316.0,1164.0,209.0,17380.0,2015.0,697000.0,951000.0,100500.0,176500.0,151800.0,23.100,17.450000,2.875000,10.625000,4.150000,5.600000
33,Utah,27.0,42.0,1134.0,147.0,193.0,2189.0,2015.0,89000.0,115000.0,16600.0,14020.0,6490.0,39.175,11.450000,12.400000,12.625000,4.150000,0.550000
34,Vermont,5.0,52.0,260.0,62.0,423.0,1100.0,2015.0,24000.0,24500.0,1780.0,1820.0,100.0,21.450,6.200000,0.500000,0.600000,1.975000,6.866667
35,Virginia,6.0,38.0,228.0,50.0,567.0,1293.0,2015.0,31000.0,32000.0,4200.0,3420.0,1460.0,25.125,13.450000,1.450000,1.950000,5.525000,8.925000
36,Washington,73.0,44.0,3212.0,1221.0,164.0,5268.0,2015.0,328000.0,418000.0,37000.0,30630.0,42170.0,30.675,1.125000,1.225000,1.825000,4.000000,0.850000
37,West Virginia,5.0,35.0,175.0,32.0,444.0,777.0,2015.0,23400.0,24700.0,3280.0,3960.0,1060.0,18.525,6.350000,1.275000,2.325000,7.600000,3.050000
38,Wisconsin,52.0,67.0,3484.0,1603.0,241.0,8396.0,2015.0,149500.0,204000.0,28100.0,14610.0,12310.0,37.700,10.725000,3.625000,14.875000,10.675000,10.750000
39,Wyoming,38.0,77.0,2926.0,146.0,190.0,5559.0,2015.0,70500.0,97000.0,9000.0,9800.0,6840.0,23.375,10.733333,4.600000,5.833333,5.575000,2.233333
40,Other States,30.0,39.0,1168.0,371.0,503.0,5875.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,United States,2660.0,58.9,156544.0,42203.0,209.0,327177.0,2015.0,11681750.0,0.0,1722360.0,1498980.0,1425240.0,36.700,14.275000,5.300000,12.175000,8.650000,4.875000
42,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13800.0,13800.0,1210.0,1620.0,660.0,15.625,1.175000,0.933333,1.133333,8.350000,1.700000
43,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30000.0,38000.0,5880.0,4930.0,1650.0,11.875,6.050000,0.900000,12.650000,8.275000,5.050000
44,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19000.0,30600.0,2140.0,1520.0,1060.0,34.500,17.425000,2.225000,17.150000,4.275000,2.300000
45,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26000.0,28000.0,3580.0,3280.0,1610.0,37.000,18.466667,23.566667,18.125000,14.450000,1.375000
46,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59000.0,85000.0,9080.0,8550.0,2710.0,21.250,5.800000,0.233333,0.100000,2.750000,1.925000
47,Other States 5/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35550.0,45030.0,6550.0,6160.0,2860.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Other States 4/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.525,3.133333,NaN,0.250000,0.566667,4.100000

In [20]:
# csv files 
data_2015_df.to_csv('data_2015.csv', index=False, header=True)